/* Body */

html {
    font-size: ;
    box-sizing: ;
}

body {
    font-size: ;
    font-weight: ;
    font-family: ;
    color: ;
}

/* Blockquote */

blockquote {
    border-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

blockquote *:last-child {
    margin-bottom: ;
}


/* Typography */

h1, 
h2,
h3,
h4,
h5,
h6 {

}

h1 { 
    font-size: ;
    line-height: ;
}

h2 { 
    font-size: ;
    line-height: ;
}

h3 { 
    font-size: ;
    line-height: ;
}

h4 { 
    font-size: ;
    line-height: ;
}
h5 { 
    font-size: ;
    line-height: ;
}

h6 { 
    font-size: ;
    line-height: ;
}

b, strong {

}